* {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    text-align: center;
    font-size: 50px;
}
.input {
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    
}
#backspace {
    font-size: 0px;
    color: transparent;
}
.wordle-input {
    display: inline;
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.green {
    background-color:#6cac64;
    color: white;
    display: inline;
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.yellow {
    background-color: yellow;
    color: white;
    display: inline;
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.grey {
    background-color: gray;
    color: white;
    display: inline;
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

img {
    width: 30px;
    height: 23px;
    color: white;
}

.keyboard {
    margin-top: 30px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key{
    width: 50px;
    height: 70px;
    font-size: 20px;
    background-color: lightgray;
    color: black;
    border-radius: 10px;
}

.key-green{
    width: 50px;
    height: 70px;
    font-size: 20px;
    background-color: #6cac64;
    color: black;
    border-radius: 10px;
}
.key-grey{
    width: 50px;
    height: 70px;
    font-size: 20px;
    background-color: gray;
    color: black;
    border-radius: 10px;
}




