* {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    text-align: center;
    font-size: 50px;
}

nav > ul {
    display: flex;
    justify-content: center;
    color: darkmagenta;
    list-style: none;
    padding-left: 0px;
}

nav > ul > li::after {
    color: lightgrey;
    padding-left: 2px;
    padding-right: 2px;
    content: " | ";
}

nav > ul > li::before {
    color: lightgrey;
    padding-left: 2px;
    padding-right: 2px;
    content: " | ";
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    
}
#backspace {
    font-size: 0px;
    color: transparent;
}
.wordle-input {
    display: inline;
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
}

.green {
    background-color:#6cac64;
    color: white;
    display: inline;
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
}

.yellow {
    background-color: yellow;
    color: white;
    display: inline;
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
}

.grey {
    background-color: gray;
    color: white;
    display: inline;
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
}

img {
    width: 30px;
    height: 23px;
    color: white;
}

.keyboard {
    margin-top: 30px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key{
    width: 50px;
    height: 70px;
    font-size: 20px;
    background-color: purple;
    color: black;
    border-radius: 10px;
    border-color: darkgray;
}

.key-green{
    width: 50px;
    height: 70px;
    font-size: 20px;
    background-color: #6cac64;
    color: black;
    border-radius: 10px;
}
.key-grey{
    width: 50px;
    height: 70px;
    font-size: 20px;
    background-color: gray;
    color: black;
    border-radius: 10px;
}

.main-instructions {
    display: flex;
    justify-content: center;
}

.instructions {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 20px;
}




